# MongoDB Connection URI (MongoDB Atlas connection string)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gpyo2y7.mongodb.net/?retryWrites=true&w=majority

# MongoDB Database Name
MONGODB_DB_NAME=invoice_pro_db
